*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        --gap: calc(1rem + .125vw);
        margin: 0;
        block-size: 100dvh;

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: var(--gap);
            padding: var(--gap);
        }
        .container > * {
           block-size: 100%;
           padding: var(--gap);
           display: grid;
           grid-template-columns: repeat;

        }
         
}
